html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{

}

body{
	min-width: 1250px;
}

.header {
	position: fixed;
	background-color: white;
	width: 100%;

	z-index: 2;

	border-bottom: 1px solid black;
}

h3{
	margin-left: 5%;
	min-width: 600px;
	float: left;

	color: #909090;

	font-size: 28px;
	font-family: 'Oxygen', sans-serif;

	padding-top: 0.2%;
}

span {
	font-weight: bold;
	color: #FFCC33;
}

.nav {
	margin-right: 5%;
	float: right;

}

.menu, .about-text, .contact-text, .portfolio-text{
	display: inline-block;
	color: #484848;

	font-size: 18px;
	
}

.about-text, .contact-text, .portfolio-text, footer {
	display: none;
}

.home {
	text-align: center;
	position: relative;
	clear: both;
	height: 100vh;

	background: url('https://dl.dropboxusercontent.com/u/263968982/cloud_gate_chicago_illinois_united_states-wallpaper-1440x900.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	background-repeat: no-repeat;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box-text{
	position: absolute;
	top: 50%;
	left: 50%;

	opacity: 0.7;

	margin: -250px 0 0 -250px;

	background-color: red;
	border-radius: 100%;

	height: 500px;
	min-width: 500px;

	font-family: 'Rock Salt', cursive;
}

.get-to-know{
	margin-top: 10%;
}

.get-to-know:hover, .t-link:hover {
	color: #FFCC33;
}

.title {
	font-size: 34px;
	color: white;

	padding-top: 20%;
	width: 500px;
}

a{
	font-size: 26px;
	color: white;

	margin: 10px;

	display: inline-block;

	text-decoration: none;
}

a:hover {
	color: #909090;
}

.information {
	background-color: white;
}

.contact, .designs, .about, .experience {

	display: none;

	padding-bottom: 6%;
}

.binder{
	min-width: 900px;
}

.banner {
	position: relative;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -200px;

}

.a-text, .c-text, .p-text, .t-text {
	color: white;

	font-size: 26px;
	font-family: 'Pacifico', cursive;

	text-align: center;

	font-style: bold;

	margin-left: 50%;
	width: 200px;
	height: 30px;

	

	box-shadow: 10px 10px 5px #888888;
}

.p-text{
	box-shadow: 10px 10px 5px black;
}

.a-text {
	background-color: #3366FF;
}

.t-text{
	background-color: red;
}

.image {
	display: block;
	float: left;

	margin-right: 2%;

	width: 200px;
	height: 250px;

	margin-left: 10%;

	border: 2px solid #FFFF66;

	border-radius: 50%;


}

.a-description{
	position: relative;
}

.a-description, .test, .t-description {

	margin: 0 10.38% 0 10.38%;

	line-height: 2em;

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;

	text-align: left;
}

.c-text{
	background-color: #33CC33;
}

.p-text {
	background-color: #666699;
}


hr {
	margin-top: 20px;
	width: 65%;
	color: gray;
}

.contact-menu {
	float: right;
	margin-right: 250px;
}

li{
	display: inline-block;
	margin: auto;
}

.test {
	text-align: left;
	width: 300px;

	margin-left: 22.24%;
}

.facebook, .twitter, .linkedin, .google-p, .gmail {
	width: 65px;
	height: 65px;
}

.facebook {
	background: url('https://dl.dropboxusercontent.com/u/263968982/02_facebook.png');
	background-repeat: no-repeat;

}

.twitter{
	background: url('https://dl.dropboxusercontent.com/u/263968982/01_twitter.png');
	background-repeat: no-repeat;
}

.linkedin{
	background: url('https://dl.dropboxusercontent.com/u/263968982/07_linkedin.png');
	background-repeat: no-repeat;
}

.google-p{
	background: url('https://dl.dropboxusercontent.com/u/263968982/14_google%2B.png');
	background-repeat: no-repeat;
}

.gmail{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_8196fb6949a40b938dd9fd80ad11d484.png');
	background-repeat: no-repeat;
}

.binder{
}

.portfolio{
	vertical-align: baseline;
	padding-left: 7%;
}

.square {
	padding-top: 5%;
	padding-right: 5%;
}
	
.portfolio-1, .portfolio-2, .portfolio-3, .portfolio-4, .portfolio-5, .portfolio-6, .portfolio-7, .example {
	margin-left: auto;
	margin-right: auto;

	display: inline-block;

 	width: 340px;
 	height: 200px;

 	border-radius: 10%;
}

.example:hover > div{
	background-color: #666699;
	z-index: 1002;
}


.designs{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_wood_texture_best_widescreen_background_awesome_desktop_1920x1080_hd-wallpaper-1287934.jpg');
	background-repeat: no-repeat;
	background: cover;

}

.portfolio-1{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-09-16_210951.png');
	background-repeat: no-repeat;
}

.portfolio-2{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-09-15_185027%20(1).png');
	background-repeat: no-repeat;
}

.portfolio-3{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-09-30_135725.png');
	background-repeat: no-repeat;
}

.portfolio-4{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-10-01_152558_1.png');
	background-repeat: no-repeat;
}

.portfolio-5{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-09-17_191010_1%20(1).png');
	background-repeat: no-repeat;
}

.portfolio-6{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-09-22_192011.png');
	background-repeat: no-repeat;
}

.portfolio-7{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_screenshot_2014-09-30_135839.png');
	background-repeat: no-repeat;
}

.summary {
	width: 340px;
	height: 80px;

	text-align: center;

	font-family: 'Museo300', helvetica, tahoma, arial, serif;
	color: white;
	font-size: 17px;

	background-color: #707070;
	opacity: 0.9;

	margin-top: 50px;
}

.testimonial {
	text-align: center;

	font-family: 'Fredericka the Great', cursive;
	font-size: 18px;

	margin-top: 3%;
}

.arrow{
	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_1up-arrow-icon.png');
	background-repeat: no-repeat;

	opacity: 0.4;

	position: relative;
	float: right;

	margin-top: -40px;
	margin-right: 3%;

	height: 50px;
	width: 50px;
}

.arrow:hover{
	opacity: 0.8;
}

.mom{
	font-size: 12px;

	color: #C0C0C0;

	font-style: italic;
	margin-left: 22%;
}

footer{
	clear: both;
}